@media screen and (max-width : 1200px) {
    .tel {
        font-size: 20px;
    }

    .sec1 h1 {
        width: 100%;
        padding-top: 54px;
        font-family: Lato, 'Arial';
        font-style: normal;
        font-weight: 900;
        font-size: 38px;
        text-align: right;
        text-transform: uppercase;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        color: #333333;
    }

    .footer .social a {
        display: inline-block;
        font-size: 9px;
        vertical-align: middle;
        margin-right: 5px;
        text-transform: uppercase;
    }

    .tablet_none {
        display: none;
    }

    .tablet_block {
        display: block;
    }

    .tablet_left {
        text-align: left;
    }

    .tablet_center {
        text-align: center;
    }

    .tablet_right {
        text-align: right;
    }

    
}

@media screen and (max-width : 1100px) {
    .sec .filter {
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-image: url(../images/sec1/Rectangle%202.png);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 2;
    }
    .sec4 .filter{
        background-image: url(../images/sec4_krujki/2.png) !important;
        background-size: cover;
        left: 0;
        background-position: right;
    }
}

@media screen and (max-width : 1000px){ 
    .sec3 .filter, .sec4 .filter, .sec5 .filter{
        width: 100%;
        background-image: url(../images/sec4_krujki/2.png) !important;
        background-size: cover;
        background-position: right;
    }
    .f_back{
        border-left: 0px;
        padding-left: 15px;
    }
    .footer .col-lg-4{
        margin-bottom: 20px;
    }
    .hor_nav li{
        width: 100%;
    }
}


@media screen and (max-width : 800px) {
    .sec .filter {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/sec1/Rectangle%202.png);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 2;
    }
    
    .sec3 .filter, .sec4 .filter, .sec5 .filter{
        background-image: url(../images/sec4_krujki/2.png) !important;
        background-size: cover;
        background-position: right;
    }
}

@media screen and (max-width : 500px) {
    .sec .filter {
        position: absolute;
        top: 0;
        right: 0;
        width: 120%;
        height: 100%;
        background-image: url(../images/sec1/Rectangle%202.png);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 2;
    }
    
    .sec3 .filter, .sec4 .filter, .sec5 .filter{
        background-image: url(../images/sec4_krujki/2.png) !important;
        background-size: cover;
        background-position: right;
    }
}